project_id                = "token-tltv"
region            = "us-east4"
zone = "us-east4-b"
machine_type   = "e2-micro"
repository_id = "token-tltv"
image_name = "token-tltv"
image_version = "latest"
sms_notification = ""
email_notification = ""
firestore_tokens = "tokens"
tltv_sa_email = ""
