project_id = "playwright-python"
region = "us-east4"
repository_id = "playwright-python"
image_name = "playwright"
image_version = "latest"
sms_notification = "+15556667777"
email_notification = "example@email.com"