project_id = "token-tltv"
region = "us-east4"
repository_id = "token-tltv"
image_name = "token-tltv"
image_version = "latest"
sms_notification = "+15556667777"
email_notification = "example@email.com"