---
# tasks file for caddy
- name: Install packages
  ansible.builtin.apt:
    name:
      - debian-keyring
      - debian-archive-keyring
      - apt-transport-https
      - curl
    state: present
    update_cache: yes

- name: add caddy gpg key
  shell: wget -q -O - 'https://dl.cloudsmith.io/public/caddy/stable/gpg.key' | gpg --dearmor | sudo tee /usr/share/keyrings/caddy-stable-archive-keyring.gpg  > /dev/null
#  shell: curl -1sLf 'https://dl.cloudsmith.io/public/caddy/stable/gpg.key' | sudo gpg --dearmor -o /usr/share/keyrings/caddy-stable-archive-keyring.gpg > /dev/null

- name: add caddy to sources list
  shell: wget -q -O - 'https://dl.cloudsmith.io/public/caddy/stable/debian.deb.txt' | sudo tee /etc/apt/sources.list.d/caddy-stable.list

- name: install caddy
  ansible.builtin.apt:
    name: caddy
    state: present
    update_cache: yes


- name: copy Caddyfile template to talkliketv server
  template:
    src: templates/Caddyfile.j2
    dest: '/etc/caddy/Caddyfile'
    owner: "{{ caddy_user }}"
    group: "{{ caddy_user }}"
    mode: '0664'
  notify:
    - Restart caddy