project_id = ""
default_region = ""
gce_ssh_user = ""
gce_ssh_pub_key_file = ""
gce_ssh_private_key_file = ""
talkliketv_machine_type = "e2-small"
module_bucket_name = ""
db_user = ""
db_password = ""
db_name = ""
module_sa_account_id = ""
